<!DOCTYPE html>
<html>
<head>
  <title>OPM Shop</title>
  <link rel="stylesheet" href="static/css/phonepay.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <header>
    <h1>
      OPM shop
      <span class="tagline">tindahan ng kanta</span>
    </h1>
  </header>
  <section>
    <h2>Buy songs using your Globe load.</h2>
    <ul class="books">
      <li class="book" style="background-image: url('/static/images/johnoydanao.jpg')">
        <div class="book-details">
        <h3>
          Pare Mare
        </h3>
        <p class="book-album">Dapithapon</p>
        <p class="book-author">Johnoy Danao</p>
        <p class="book-price">Php 250.00</p>
        </div>
        <div
          class="phonepay"
          data-header="OPM shop"
          data-desc="Pare Mare by Johnoy Danao"
          data-amount="Php 250.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/SarahG.jpg')">
        <div class="book-details">
        <h3>
          Ikot Ikot
        </h3>
        <p class="book-author">
          Sarah Geronimo
        </p>
        <p class="book-price">Php 500.00</p>
        </div>
        <div
          class="phonepay"
          data-header="OPM shop"
          data-desc="Ikot Ikot by Sarah Geronimo"
          data-amount="Php 500.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/ViceGanda.jpg')">
        <div class="book-details">
        <h3>
          Boom Panes!
        </h3>
        <p class="book-author">
          Vice Ganda
        </p>
        <p class="book-price">Php 100.00</p>
        </div>
        <div
          class="phonepay"
          data-header="OP shop"
          data-desc="Boom Panes! by Vice Ganda"
          data-amount="Php 100.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/RicoBlanco.jpg')">
        <div class="book-details">
        <h3>
          Amats
        </h3>
        <p class="book-author">
          Rico Blanco
        </p>
        <p class="book-price">Php 80.00</p>
        </div>
        <div
          class="phonepay"
          data-header="OPM shop"
          data-desc="Amats by Rico Blanco"
          data-amount="Php 80.00"
        ></div>
      </li>
    </ul>
    <div class="sidebar">
      <p class="about">
      Show your support to Original Pilipino Music.
      </p>
      <h3>Top Songs Downloaded:</h3>
      <ol>
        <li>Boom Panes! by Vice Ganda</li>
        <li>Ikot Ikot by Sarah Geronimo</li>
        <li>Pare Mare by Johnoy Danao</li>
        <li>Moom Manes by Mark Steve</li>
      </ol>
    </div>
  </section>
  <footer>
    <span class="copyright">&copy; 2014 OPM Shop</span>
    <ul class="footer-links">
      <li>FAQ</li>
      <li>About</li>
      <li>Terms</li>
    </ul>
  </footer>
  <script src="static/js/phonepay.js"></script>
</body>
</html>
