header {
  position: relative;

  height: 1300px;

  background: url(../images/bg.jpg) no-repeat right top;
  background-size: 2000px;
}
.logo {
  position: absolute;
  top: 2em;
  right: 30em;

  width: 20em;

  color: white;
  text-shadow: 0 0 .5em black;
}
.login {
  right: 10em;

  display: inline-block;

  padding: 0 1em;

  color: white;
  border: 1px solid;
  text-shadow: 0 0 .5em black;
}
.login a {
  font-weight: bold;

  color: white;
}
.get-started {
  position: absolute;
  top: 10em;
  right: 10em;

  width: 40em;
}
.get-started h2 {
  margin: 0;
}
.get-started form {
  width: 62%;
  margin: 0 auto;
  padding: 2em;

  background: white;
}
.steps {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 5em 0 7em 0;

  background: rgba(255, 255, 255, .9);
}
.steps ul {
  margin: 0;
  padding: 0;

  list-style: none;

  letter-spacing: -.5em;
}
.steps li {
  display: inline-block;

  width: 33%;

  text-align: center;
  vertical-align: top;
  letter-spacing: 0;
}
.steps .oi {
  font-size: 400%;
}
.steps h3 {
  margin: 0 0 .5em 0;
}
.upload {
  color: #e74c3c;
}
.copy {
  color: #3498db;
}
.profit {
  color: #2ecc71;
}
.steps p {
  width: 20em;
  margin: 0 auto;
}
.demos {
  padding: 3em 0 5em 0;

  background: #333;
}
.demos,
.demos a {
  color: white;
}
.demos > div {
  width: 30em;
  margin: 0 auto;
}
