body, input, button {
  font: 16px/1.5 Garamond, serif;
}
body {
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
header {
  background: url('../images/booklat.jpg') no-repeat center 62%;
  background-size: cover;
  padding-top: 10em;
  padding: 10em 2em 0 2em;
  color: white;
  text-shadow: 0 0 0.5em black;
  border-bottom: 2px solid black;
}
h1 {
  font-size: 400%;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  font-weight: normal;
  line-height: 4rem;
}
h1 .tagline {
  position: absolute;
  right: 0;
  font-size: 50%;
  font-weight: normal;
  line-height: 4rem;
}
section {
  padding: 2em 500px 2em 2em;
  position: relative;
}
.sidebar {
  position: absolute;
  top: 2em;
  right: 2em;
  width: 400px;
}
.about {
  margin: 0;
  font-size: 150%;
  font-style: italic;
  border: 1px solid;
  padding: 0.5em 1em;
}
section h2 {
  margin: 0 0 1.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
}
.books {
  list-style: none;
  padding: 0;
  margin: 0;
  letter-spacing: -0.5em;
}
.book {
  vertical-align: top;
  width: 300px;
  height: 400px;
  display: inline-block;
  margin: 0 2em 2em 0;
  position: relative;
  background: center center no-repeat;
  background-size: 100%;
  color: white;
  transition: background-size 0.2s;
  overflow: hidden;
}
.book:hover {
  background-size: 110%;
}
.book-details {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  padding: 2em;
  letter-spacing: 0;
  text-shadow: 0 0 5px black;
  transition: all 0.2s;
  -webkit-transform: translateY(-50%);
  opacity: 0;
}
.book:hover .book-details {
  -webkit-transform: translateY(0);
  opacity: 1;
}
.book-details h3 {
  font-size: 120%;
  line-height: 1;
  margin: 0;
}
.book-author {
  font-size: 110%;
  font-style: italic;
  line-height: 1;
}
.book-price {
  display: inline-block;
  border: 1px solid;
  line-height: 2;
  padding: 0 0.5em;
}
.book .phonepay {
  position: absolute;
  right: 2em;
  bottom: 2em;
}
.phonepay-button {
  border: 0;
  background: black;
  color: white;
  padding: 0 1em;
  line-height: 2em;
  font-size: 150%;
  border: 1px white solid;
}
footer {
  margin: 5em 2em 2em 2em;
  color: #999;
  border-top: 1px solid;
  padding-top: 1em;
}
.copyright {
  margin-right: 2em;
}
.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
.footer-links li {
  display: inline-block;
  margin-right: 1em;
}
