*
{
  box-sizing: border-box;
}
body, input, button
{
  font: 20px/1.5 sans-serif;

  color: #666;
}
h1, h2, h3, button
{
  font-family: Montserrat, sans-serif;
}
h1
{
  margin: 0;
}
h1 a
{
  color: inherit;
}
h2
{
  margin: 3rem 0 0 0;
}
a
{
  text-decoration: none;

  color: dodgerblue;
}
a:hover
{
  text-decoration: underline;
}
section
{
  position: relative;

  max-width: 60em;
  margin: 1em auto;
  padding: 2rem;

  background: white;
}
.login
{
  line-height: 2;

  position: absolute;
  top: 2em;
  right: 2em;
}
p
{
  margin: 0 0 1em 0;
}
p.submit
{
  padding-top: 1em;
}
code
{
  font-size: 200%;
}
form
{
  margin-top: 1.5em;
}
label
{
  font-size: 80%;
  line-height: 1;

  color: gray;
}
form label input, form button
{
  width: 100%;
}
form label input,
form button
{
  display: block;

  height: 2em;
  padding: 0 .5em;
}
.steps
{
  margin: 3em 0;
  padding: 0;

  list-style: none;

  letter-spacing: -.5em;
}
.steps li
{
  display: inline-block;

  width: 33%;
  padding: 1em 2em;

  text-align: center;
  vertical-align: top;
  letter-spacing: 0;
}
.steps .oi
{
  font-size: 400%;
}
.steps h3
{
  margin: 0 0 .5em 0;
}
.upload
{
  color: #e74c3c;
}
.copy
{
  color: #3498db;
}
.profit
{
  color: #2ecc71;
}
.get-started, .demos, .login-form
{
  width: 38%;
  margin: 5em auto;
}
