*
{
  box-sizing: border-box;
}

.phonepay-form
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;
}

.phonepay-form,
.phonepay-form input,
.phonepay-form button
{
  font: 20px/1.5 sans-serif;
}

.phonepay-form.hidden
{
  display: none;
}

.phonepay-form .overlay
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, .5);
}

.phonepay-form .box
{
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  width: 300px;
  height: 400px;
  margin: auto;

  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
}

.phonepay-form .box h2
{
  font-size: 100%;
  font-weight: normal;
  line-height: 3rem;

  margin: 0;

  color: white;
  background: dodgerblue;
}

.phonepay-form .box .details
{
  font-size: 120%;
  line-height: 1;

  height: 5em;
  margin: 1em 0 0 0;
  padding: 0 1.5em 1em 1.5em;

  border-bottom: 1px solid silver;
}

.phonepay-form .box p
{
  margin: 0 0 1em 0;
}

.phonepay-form .box .amount
{
  white-space: nowrap;
}

.phonepay-form .box label
{
  font-size: 60%;
  font-weight: bold;

  color: gray;
}

.phonepay-form .box input
{
  font-family: monospace;
  font-weight: bold;

  width: 80%;
  height: 3rem;
  padding: 0 .5rem;

  text-align: center;
}

.phonepay-form .box button
{
  line-height: 3rem;

  width: 80%;
  padding: 0;
}

.phonepay-form .box .authorize-instructions
{
  font-size: 80%;

  margin: 0;
  padding: 2em;
}

.phonepay-form .box .powered-by
{
  font-size: 50%;

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  color: gray;
}
