<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/static/css/open-iconic.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>PhonePay.PH</title>
</head>
<body>
  <section>
    <h1><a href="/">PhonePay.PH</a></h1>
    <p class="login">
      <small>
        Already a user? <a href="/login">Login.</a>
      </small>
    </p>
    <p>
      The easiest way to sell your digital goods.
    </p>
    {% block content %}{% endblock %}
  </section>
</body>
</html>
