{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/dashboard.css">
{% endblock %}

{% block content %}

<h2>Dashboard</h2>

{% if messages %}
<ul class="messages">
{% for category, message in messages %}
  <li class="{{ category }} message">
    {{ message }}
  </li>
{% endfor %}
</ul>
{% endif %}

<h3>Integration</h3>
<pre class="integration"><code>{{ integration.format(merchant.globe_shortcode)|escape }}</code></pre>
<p>
Go to your Globe Labs'
  <a href="http://www.globelabs.com.ph/apps/{{ merchant.globe_app_id }}/edit">app page</a>
  and set its <strong>Redirect URI</strong> to:<br>
  <code>http://phonepay.marksteve.com/oauth/{{ merchant.globe_shortcode }}</code>
</p>
<p>
  and its <strong>SMS Notify URI</strong> to:<br>
  <code>http://phonepay.marksteve.com/sms/{{ merchant.globe_shortcode }}</code>
</p>
<h3>Settings</h3>
<form action="/info" method="post">
  <p>
    <label>
      Store Name
      <input type="text" name="store_name" value="{{ merchant.store_name }}">
    </label>
  </p>
  <p>
    <label>
      Globe Shortcode
      <input type="text" name="globe_shortcode" value="{{ merchant.globe_shortcode }}">
    </label>
  </p>
  <p>
    <label>
      Globe App ID
      <input type="text" name="globe_app_id" value="{{ merchant.globe_app_id }}">
    </label>
  </p>
  <p>
    <label>
      Globe App Secret
      <input type="text" name="globe_app_secret" value="{{ merchant.globe_app_secret }}">
    </label>
  </p>
  <p class="submit">
    <button type="submit">Save Changes</button>
  </p>
</p>
</form>

<h3>Upload</h3>
<form action="upload" method="post" enctype="multipart/form-data">
  <p>
    <label>
      Description
      <input type="text" name="description" value="">
    </label>
  </p>
  <p>
    <label>
      Price
      <input type="text" name="amount" value="">
    </label>
  </p>
  <p>
    <label>
      File
      <input type="file" name="file" value="">
    </label>
  </p>
  <p class="submit">
    <button type="submit">Upload</button>
  </p>
</form>

<h3>Items</h3>
<ul class="items">
  <li>
    <span class="desc"><strong>Description</strong></span>
    <span class="amount"><strong>Price</strong></span>
    <span class="instabuy"><strong>Instabuy</strong></span>
  </li>
{% for item in items %}
  <li>
    <span class="desc">{{ item.desc }}</span>
    <span class="amount">PHP {{ item.amount }}</span>
    <span class="instabuy">
      <a href="{{ item.instabuy_url }}">
        <span class="oi" data-glyph="link-intact"></span>
      </a>
    </span>
    <pre><code>{{ item_code.format(
      item.item_id,
      item.desc,
      item.amount,
    )|escape }}</code></pre>
  </li>
{% else %}
  <li>
    No items yet.
  </li>
{% endfor %}
</ul>

{% endblock %}
