{% extends "base.html" %}

{% block css %}
<style>
.integration {
  padding: 1em;
  background-color: #eee;
}
.items {
  margin: 0;
  padding: 0 0 10em 0;
  list-style: none;
}
.items li {
  margin-bottom: 1em;
  position: relative;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.items li pre {
  position: absolute;
  top: -1.5em;
  left: 25%;
  right: 3em;
  background: white;
  margin: 0;
  padding: 0.5em 1em;
  background: #eee;
  display: none;
}
.items li:hover pre {
  display: block;
  z-index: 10;
}
.items li code {
  margin: 0;
  padding: 0;
}
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}
.error {
color: #D8000C;
background-color: #FFBABA;
}
</style>
{% endblock %}

{% block content %}

<h2>Dashboard</h2>

<form action="/info" method="post">
  <h3>Settings</h3>
  <p>
    <label>
      Store Name
      <input type="text" name="store_name" value="{{ merchant.store_name }}">
    </label>
  </p>
  <p>
    <label>
      Globe Shortcode
      <input type="text" name="globe_shortcode" value="{{ merchant.globe_shortcode }}">
    </label>
  </p>
  <p>
    <label>
      Globe App ID
      <input type="text" name="globe_app_id" value="{{ merchant.globe_app_id }}">
    </label>
  </p>
  <p>
    <label>
      Globe App Secret
      <input type="text" name="globe_app_secret" value="{{ merchant.globe_app_secret }}">
    </label>
  </p>
  <p class="submit">
    <button type="submit">Save Changes</button>
  </p>
</p>
</form>
<h3>Integration</h3>
<pre class="integration"><code>{{ integration.format(merchant.globe_shortcode)|escape }}</code></pre>

<h3>Items</h3>
{% if messages %}
<div class="success flashes">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}
<form action="upload" method="post" enctype="multipart/form-data">
  <p>
    <label>
      Description
      <input type="text" name="description" value="">
    </label>
  </p>
  <p>
    <label>
      Price
      <input type="text" name="price" value="">
    </label>
  </p>
  <p>
    <label>
      Upload
      <input type="file" name="file" value="">
    </label>
  </p>
  <p class="submit">
    <input type="submit" value="Upload">
  </p>
</form>
<ul class="items">
{% for item in items %}
  <li>
    {{ item.filename }}
    <pre><code>{{ item_code.format(item.item_id)|escape }}</code></pre>
  </li>
{% endfor %}
</ul>

{% endblock %}
