<!DOCTYPE html>
<html>
<head>
  <title>Booklat</title>
  <link rel="stylesheet" href="static/css/payload.css">
  <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
  <header>
    <h1>
      Booklat
      <span class="tagline">Books. Books. Books.</span>
    </h1>
  </header>
  <section>
    <h2>Humble Books</h2>
    <ul class="books">
      <li class="book" style="background-image: url('/static/images/wizzywig.png')">
        <div class="book-details">
        <h3>
          Wizzywig: Portrait of a Serial Hacker
        </h3>
        <p class="book-author">Ed Piskor</p>
        <p class="book-price">Php 400.00</p>
        </div>
        <div
          class="payload"
          data-header="Booklat"
          data-desc="Wizzywig: Portrait of a Serial Hacker"
          data-amount="Php 400.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/march.png')">
        <div class="book-details">
        <h3>
          March: Book One
        </h3>
        <p class="book-author">
          Congressman John Lewis, Andrew Aydin, and Nate Powell
        </p>
        <p class="book-price">Php 500.00</p>
        </div>
        <div
          class="payload"
          data-header="Booklat"
          data-desc="March: Book One"
          data-amount="Php 500.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/swordandsorcery.png')">
        <div class="book-details">
        <h3>
          The Sword & Sorcery Anthology
        </h3>
        <p class="book-author">
          Various, George R. R. Martin
        </p>
        <p class="book-price">Php 500.00</p>
        </div>
        <div
          class="payload"
          data-header="Booklat"
          data-desc="The Sword & Sorcery Anthology"
          data-amount="Php 500.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/jam.png')">
        <div class="book-details">
        <h3>
          Jam
        </h3>
        <p class="book-author">
          Yahtzee Croshaw
        </p>
        <p class="book-price">Php 500.00</p>
        </div>
        <div
          class="payload"
          data-header="Booklat"
          data-desc="Jam"
          data-amount="Php 500.00"
        ></div>
      </li>
      <li class="book" style="background-image: url('/static/images/lovecraft.png')">
        <div class="book-details">
        <h3>
          Lovecraft's Monsters: Anthology
        </h3>
        <p class="book-author">
          Various, Neil Gaiman. Ellen Datlow, Editor
        </p>
        <p class="book-price">Php 500.00</p>
        </div>
        <div
          class="payload"
          data-header="Booklat"
          data-desc="Lovecraft's Monsters: Anthology"
          data-amount="Php 500.00"
        ></div>
      </li>
    </ul>
  </section>
  <footer>
    <span class="copyright">&copy; 2014 Booklat</span>
    <ul class="footer-links">
      <li>FAQ</li>
      <li>About</li>
      <li>Terms</li>
    </ul>
  </footer>
  <script src="static/js/payload.js"></script>
</body>
</html>
