<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/static/css/open-iconic.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <title>PhonePay</title>
</head>
<body>

<header>

<div class="logo">
  <h1><a href="/">PhonePay</a></h1>
  <p>
    The easiest way to sell your digital goods.
  </p>
</div>

<div class="login">
  <small>
    Already a user? <a href="/login">Login.</a>
  </small>
</div>

<div class="get-started">
<form action="/signup" method="post">
  <p>Register at <a target="_blank" href="http://developer.globelabs.com.ph/"><img class="globe-logo" src="/static/images/globe-logo.jpg"/>GlobeLabs</a> if you
  haven't yet.</p>
  <h2>Get started in 3 minutes.</h2>
  <p>
    <label>
      Store Name
      <input type="text" name="store_name">
    </label>
  </p>
  <p>
    <label>
      Globe Shortcode
      <input type="text" name="globe_shortcode">
    </label>
  </p>
  <p>
    <label>
      Globe App ID
      <input type="text" name="globe_app_id">
    </label>
  </p>
  <p>
    <label>
      Globe App Secret
      <input type="text" name="globe_app_secret">
    </label>
  </p>
  <p class="submit">
    <button type="submit">Sign Up</button>
  </p>
</form>
</div>

<div class="steps">
<ul>
  <li class="upload">
    <span class="oi" data-glyph="cloud-upload"></span>
    <h3>1. Upload</h3>
    <p>
      Upload the digital creations you want to sell
      and set the prices.
    </p>
  </li>
  <li class="copy">
    <span class="oi" data-glyph="clipboard"></span>
    <h3>2. Copy</h3>
    <p>
      Copy the snippets into your webpage.
      This sounds more complicated than it is ;)
    </p>
  </li>
  <li class="profit">
    <span class="oi" data-glyph="dollar"></span>
    <h3>3. Profit</h3>
    <p>
      That's it! No coding. No fiddling with servers.
      Focus on growing your business.
    </p>
  </li>
</ul>
</div>

</header>

<section class="demos">
<div>
<h2>Demos</h2>
<ul>
  <li><a href="/demos/booklat">Booklat</a></li>
  <li><a href="/demos/opm">OPM Shop</a></li>
</ul>
</div>
</section>

</body>
</html>
