<!DOCTYPE html>
<html>
<head>
  <title>{{ desc }} - PhonePay</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/static/css/phonepay.css">
  <style>
    h1 {
      font-family: Montserrat;
      color: white;
      font-size: 100%;
      margin-top: 5em;
      text-align: center;
      text-shadow: 0 0 .5em black;
    }
  </style>
</head>
<body bgcolor="#666">
  <h1>PhonePay</h1>
  <script src="/static/js/phonepay.js"></script>
  <script>
    pp({
      show: true,
      shortcode: {{ shortcode|tojson }},
      desc: {{ desc|tojson }},
      amount: {{ amount|tojson }},
    });
  </script>
</body>
</html>
