<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <title>PHonePay</title>
  <style>
    body {
      font: 20px/1.5 sans-serif;
    }
    h1 {
      font-family: Montserrat, sans-serif;
    }
    section {
      width: 30em;
      margin: 0 auto;
    }
    code {
      font-size: 200%;
    }
  </style>
</head>
<body>
  <section>
    <h1>PHonePay</h1>
    <p>
      You've successfully authorized COMPANY_NAME
      to receive payments from Globe credits of your number:
    </p>
    <p>
      <code>
      {{ subscriber_number }}
      </code>
    </p>
    <p>
      You can now go back to your transaction and continue.
    </p>
  </section>
</body>
</html>
